config
run_pineline_craw.py
.idea
logs
sentiment_analysis\data\database\youtube_comments.db
sentiment_analysis\data\database\youtube_comments_clean.db
backup
database
sentiment_analysis\src\data_engineering\youtube_comments.db